# Install yelpapi

You typically will need to install the yelapi package to use the functions it provides, you can also find documentation for this here:
https://github.com/lanl/yelpapi

In [1]:
pip install yelpapi

Requirement already satisfied: yelpapi in c:\users\aveld\anaconda3\envs\dojo-env\lib\site-packages (2.5.0)
Requirement already satisfied: requests in c:\users\aveld\anaconda3\envs\dojo-env\lib\site-packages (from yelpapi) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aveld\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\aveld\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aveld\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aveld\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

# Using YelAPI with Python

In [2]:
# First load API credentials
import json
with open('/Users/aveld/secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [3]:
# import YelpAPI Class
from yelpapi import YelpAPI
# Create an instance w/ your key
yelp_api = YelpAPI(login['api-key'], timeout_s = 5.0)
yelp_api

To use the "businesses search" endpoint we will use the yelp_api.search_query method.

If we inspect the docstring for the function (either run the help function on it or place your cursor inside the parenthesis for it and hit Shift+Tab), we see that it doesn't tell us very much.

In [4]:
help(yelp_api.search_query)

Help on method search_query in module yelpapi.yelpapi:

search_query(**kwargs) method of yelpapi.yelpapi.YelpAPI instance
    Query the Yelp Search API.

    documentation: https://www.yelp.com/developers/documentation/v3/business_search

    required parameters:
        * one of either:
            * location - text specifying a location to search for
            * latitude and longitude

The only arguments/parameters that the docstring mentions are location or latitude & longitude.

Notice that the link to the official API documentation is linked instead.

This is because this documentation only shows what the required parameters are, but it will accept ANY of the parameters that are accepted by the business_search endpoint.

Meaning we need to familiarize ourselves with what the business_search endpoint parameters are on Yelp Fusion and simply apply them in our code as needed.

In [6]:
search_results = yelp_api.search_query(location = 'NY, NY',
                                      term = 'pizza')
print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

The package returns the results in the JSON format we have been exploring. Note that the exact results may vary as the Yelp site is constantly changing.

In [7]:
search_results['total']

12300

In [9]:
import pandas as pd

biz = pd.DataFrame(search_results['businesses'])
biz.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,zj8Lq1T8KIC5zwFief15jg,prince-street-pizza-new-york-2,Prince Street Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/I4gm7i...,False,https://www.yelp.com/biz/prince-street-pizza-n...,4661,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.72308755605564, 'longitude': -...","[pickup, delivery]",$,"{'address1': '27 Prince St', 'address2': None,...",+12129664100,(212) 966-4100,1961.877142
1,ysqgdbSrezXgVwER2kQWKA,julianas-brooklyn-3,Juliana's,https://s3-media2.fl.yelpcdn.com/bphoto/NVoLFl...,False,https://www.yelp.com/biz/julianas-brooklyn-3?a...,2584,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.70274718768062, 'longitude': -...",[delivery],$$,"{'address1': '19 Old Fulton St', 'address2': '...",+17185966700,(718) 596-6700,308.569844

# Pagination and Offset

**Pagination**:
    
   To explain let's look at google first. When you do a google search, there are thousands of results but you only see one page of results at a time instead of a single really long page with all the results.
    
   This is what happens with API calls as well, if we look at the values, there are 12,300 total results in the total key but we only have 20 businesses under the business key

In [11]:
# Total number of matching businesses
search_results['total']

12300

In [12]:
## how many businesses in our results
len(search_results['businesses'])

20

**Offset**:

Each API call will only give us "one page" of information at a time, to get the next page of information we change the Offset.

When the offset is not set, we get the first "page" of results, then by verifying how many we got on the first call we change the offset accordingly for the next "page" of data.

In this example, we got 20 results on the first call, so now we will make the same API call again except we will set the Offset to 20 so we can get the next "page" of results.

The following call would be 40, then 60, etc.

In [13]:
search_results = yelp_api.search_query(location = 'NY, NY',
                                      term = 'pizza',
                                      offset = 20)

In [14]:
# Check results
biz_20 = pd.DataFrame(search_results['businesses'])
biz_20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,MphfKkYFEe0BDQ6hZ0A5fA,gelso-and-grand-new-york,Gelso & Grand,https://s3-media3.fl.yelpcdn.com/bphoto/ZV0bgS...,False,https://www.yelp.com/biz/gelso-and-grand-new-y...,1328,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 40.71958, 'longitude': -73.99734}","[pickup, delivery]",$$,"{'address1': '186 Grand St', 'address2': '', '...",+12122261600,(212) 226-1600,1593.688510
1,ZLPYcgEeRllSoeWyr7y4Ig,totonnos-brooklyn,Totonno's,https://s3-media3.fl.yelpcdn.com/bphoto/mPBQXh...,False,https://www.yelp.com/biz/totonnos-brooklyn?adj...,831,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.578913225666966, 'longitude': ...",[pickup],$$,"{'address1': '1524 Neptune Ave', 'address2': '...",+17183728606,(718) 372-8606,14097.309578

# Combining DataFrames

Now that we have biz and biz_20, we can combine them into a single dataframe using `pd.concat()`

In [18]:
# Concatenating the previous results together

businesses = pd.concat([biz, biz_20],
                      ignore_index=True)

display(businesses.head(2), businesses.tail(2))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,zj8Lq1T8KIC5zwFief15jg,prince-street-pizza-new-york-2,Prince Street Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/I4gm7i...,False,https://www.yelp.com/biz/prince-street-pizza-n...,4661,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.72308755605564, 'longitude': -...","[pickup, delivery]",$,"{'address1': '27 Prince St', 'address2': None,...",+12129664100,(212) 966-4100,1961.877142
1,ysqgdbSrezXgVwER2kQWKA,julianas-brooklyn-3,Juliana's,https://s3-media2.fl.yelpcdn.com/bphoto/NVoLFl...,False,https://www.yelp.com/biz/julianas-brooklyn-3?a...,2584,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.70274718768062, 'longitude': -...",[delivery],$$,"{'address1': '19 Old Fulton St', 'address2': '...",+17185966700,(718) 596-6700,308.569844

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
38,CiRj1B-gK5tRfbMkq3SBog,robertas-new-york-3,Roberta's,https://s3-media3.fl.yelpcdn.com/bphoto/__bI5t...,False,https://www.yelp.com/biz/robertas-new-york-3?a...,4,"[{'alias': 'pizza', 'title': 'Pizza'}]",5.0,"{'latitude': 40.71995520720623, 'longitude': -...","[pickup, delivery]",NaN,"{'address1': '196 Stanton St', 'address2': '',...",,,1871.408970
39,6ECcDYsRgmfv0eKXk-c11Q,la-nonna-krispy-krust-pizza-brooklyn,La Nonna Krispy Krust Pizza,https://s3-media3.fl.yelpcdn.com/bphoto/fVNfYk...,False,https://www.yelp.com/biz/la-nonna-krispy-krust...,73,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.717953, 'longitude': -73.9637027}","[pickup, delivery]",$$,"{'address1': '175 Kent Ave', 'address2': None,...",+13473842100,(347) 384-2100,2929.556415